.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.titleContainer {
  position: relative;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 0 20px;
  margin-bottom: 150px;
}

.daysContainer {
  display: flex;
  flex-direction: row;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.daysNumber {
  margin-right: 20px;
}

.days {
  
}

.timeWrapper {

}

.timeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.timeNumber {
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #ccc;
  width: 70px;
  position: relative;
  overflow: hidden;
}

.timeBackground {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #ffadad;
}

.time {
  font-size: 30px;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 180px;
  box-shadow: 0 0 10px 0 #ccc;
}

.eyeIconContainer {
  margin-left: auto;
  width: fit-content;
  margin-top: -10px;
  margin-right: -35px;
  cursor: pointer;
}

.eyeIcon {
  width: 30px;
}

.since {
  font-weight: bold;
  margin-top: 150px;
  text-align: center;
}

.special {
  color: #bd0d00;
  text-decoration: underline;
}

.herComplimentContainer {
  display: inline-block;
  width: fit-content;
}

.herCompliment {
  position: absolute;
  transition: opacity 200ms linear;
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 20px;
  z-index: 1;
  box-shadow: 0 0 10px 0 #ccc;
  pointer-events: none;
}

.catPic {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 10px 0 #ccc;
  transition: top 6000ms linear, left 6000ms linear, opacity 2000ms linear;
  pointer-events: none;
}

.catPicImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes beat{
	to { transform: scale(1.2); }
}

.brainMeme {
  display: inline-block;
}

.brainMemeImg {
  position: absolute;
  top: 80px;
  right: 0;
  border-radius: 5px;
  width: 500px;
  z-index: 1;
  transition: opacity 100ms linear;
}

.heart {
  display: inline-block;
}

.heart:hover {
  animation: beat 0.5s infinite alternate;
}

.iLoveYou {
  display: inline-block;
  transition: color 200ms linear;
}

.iLoveYouContainer {
  position: absolute;
  box-shadow: 0 0 10px 0 #ccc;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  transition: bottom 2000ms ease-in-out, transform 5000ms ease-in-out;
  max-width: 80%;
  word-wrap: break-word;
  text-align: center;
}

.rainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

.rainParticle {
  position: absolute;
  font-size: 30px;
  transition: top 4000ms linear;
  visibility: hidden;
}

@media (max-width: 1280px) {
  .title {
    font-size: 35px;
    margin-bottom: 80px;
  }

  .daysNumber {
    font-size: 80px;
  }

  .days {
    font-size: 80px;
  }

  .timeNumber {
    font-size: 30px;
    width: 60px;
  }

  .time {
    font-size: 30px;
    width: 180px;
  }

  .since {
    margin-top: 80px; 
  }

  .catPic {
    width: 150px;
    height: 150px;
  }

  .brainMemeImg {
    top: 60px;
    right: 20px;
    width: 350px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 30px;
    margin-bottom: 80px;
  }

  .daysNumber {
    font-size: 70px;
  }

  .days {
    font-size: 70px;
  }

  .timeNumber {
    font-size: 20px;
    width: 50px;
  }

  .time {
    font-size: 20px;
    width: 120px;
  }

  .eyeIconContainer {
    margin-left: auto;
    width: fit-content;
    margin-top: -10px;
    margin-right: -25px;
    cursor: pointer;
  }
  
  .eyeIcon {
    width: 20px;
  }

  .since {
    margin-top: 80px; 
  }

  .catPic {
    width: 100px;
    height: 100px;
  }

  .brainMemeImg {
    top: 120px;
    right: 20px;
    width: 300px;
  }
}